.header-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: auto;
  background-color: #f54848;
  padding: 2rem;
  .btn-primary {
    margin-top: 1rem;
  }
}
.wishes-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .dataView {
    position: absolute;
    color: #1c1f1f;
    font-size: 7rem;
  }
}
